<div class="container">
  <div class="formulario">
    <h2>FORMULARIO DE INGRESO</h2>
    <br>
    <div class="group">
      <label for="correo" > Correo electronico</label>
      <input type="email" name="correo" class="form-control" [(ngModel)]="this.usuario.correo">
    </div>
    <div class="group">
      <label for="correo"> Contraseña</label>
       <input type="password" class="form-control" [(ngModel)]="this.usuario.clave">
    </div>
    <div class="group">
      <label for="select"> Ingreso rapido</label>
      <br>
       <button class="btn btn-outline-dark" style="margin-right: 5px;" (click)="ingresoRapido('admin')">Admin</button>
       <button class="btn btn-outline-dark" (click)="ingresoRapido('empleado')">Empleado</button>
    </div>
    <br>
    <button class="btn bton" (click)="login()">INGRESAR</button>
  </div>

</div>
